body {
  background-color: rgb(25, 25, 30);
}
#canvas1 {
  border: 5px solid rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*** proj 1: ***/
  /* width: 600px;
  height: 600px; */

  /*** proj 3: ***/
  width: 500px;
  height: 1000px;
}

.controls {
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.controls,
select,
option {
  font-size: 25px;
}
